

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

svg {
  position: absolute;
}

.div--none {
  width: 100%;
  height: 65px;
  display: none;
}

.div--wraper__img {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 45px;
  height: 21px;
}

.page--cont {
  transform: translateY(0);
}

.page--container {

  display: flex;
  justify-content: center;
}

.page--container1 {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

}

.page--container--top {
  width: 100%;
  max-width: 1160px;
  height: 50px;
}

.page--container--bottom {
  position: relative;
  padding-right: 300px;
  width: 100%;
  max-width: 1160px;
  height: 50px;
  display: flex;
}

.nav--top {
  padding-right: 20px;
  padding-left: 210px;
  width: 100%;
  display: flex;
  font: 400 14px/1.2 'Hyundai', sans-serif;
}

.nav--top__list {
  padding-right: 80px;
  padding-left: 28px;
  margin-right: 175px;
  width: 100%;
  max-width: 500px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.nav--top__elem {
  font: 400 14px/1.2 'Hyundai', sans-serif;
}

.nav--top__elem:hover {
  color: black;
}

.nav--top__link {
  width: 275px;
  height: 52px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 14px/1.2 'Hyundai', sans-serif;
}

.nav--top__link a {
  padding-left: 6px;
  color: white;
}

.nav--bottom {
  padding-left: 218px;
  width: 100%;
  display: flex;
}

.nav--bottom__svg {
  width: 149px;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 0;
  height: 50px;
}

.nav--bottom__svg1 {
  width: 0;
  height: 0;
}

.nav--bottom__list {
  width: 300px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
}

.nav--bottom__elem {
  font: 400 16px/1.2 'Hyundai', sans-serif;
}

.nav--bottom__elem:hover {
  color: black;
}


.nav--top__list {
  list-style: none;
}

.nav--top__list li {
  display: inline-block;
}

.nav--top__list ul {
  display: none;
  position: absolute;
}

.nav--top__list li:hover ul {
  display: block;
}

.nav--top__list a {
  text-decoration: none;
  color: black;
  padding-right: 15px;
}

.nav--top__list a:hover {
  color: rgb(52, 114, 143);
}

.page--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main--banner__container {
  padding: 0 60px 0 60px;
  background-image: url("../img/first.jpg");
  background-size: 100% 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main--banner__container__slider {
  width: 100%;
  max-width: 1800px;
  overflow: hidden;
}

.main--banner__container__slider-line {
  width: 100%;
  max-width: 1800px;
  display: flex;
  justify-content: flex-start;
  left: 0;
  transition: all ease 0.5s;
}

.main__img {
  width: 100%;
  max-width: 1800px;
}

.main__link {
  padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 3%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 48px;
  font: 400 18px/1.2 'Hyundai', sans-serif;
  color: white;
  background-color: rgb(42, 55, 177);
  border-radius: 5px;
}

.main__text {
  top: 0;
  left: 0;
}

.main__link1 {
  padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 3%;
  left: 120%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 48px;
  font: 400 18px/1.2 'Hyundai', sans-serif;
  color: white;
  background-color: rgb(42, 55, 177);
  border-radius: 5px;
}

.main__slider-prev {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.main__slider-prev svg:hover {
  fill: rgb(98, 101, 110);
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
  fill: blue;
}

.main__slider-next {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.main__slider-next svg:hover {
  fill: rgb(98, 101, 110);
}

.page--content__wrap {
  padding: 0 60px 0 60px;
  width: 100%;
  background-image: url("../img/second.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}

.page--content__cars {
  width: 100%;
  max-width: 1800px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  display: block;
}

.wrapper__img {
  object-fit: cover;
  width: 100%;
  height: 140px;
}

.wrapper__link {
  color: black;
  font: 500 15px/1.2 'Hyundai', sans-serif;
}

.wrapper__link:hover {
  text-decoration: none;
}

.page--content__cars--title {
  padding-top: 100px;
  padding-bottom: 100px;
  font: 500 36px/1.2 'Hyundai', sans-serif;
}

.page--content__cars--flex__img {
  border: 1px solid black;
  margin-bottom: 20px;
  width: 255px;
  height: 120px;
}

.page__link {
  text-align: center;
}

.page--content__cars--button {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page--content__cars__button--link {
  padding: 5px 10px 5px 10px;
  width: 210px;
  height: 48px;
  font: 400 18px/1.2 'Hyundai', sans-serif;
  color: white;
  background-color: rgb(42, 55, 177);
  border-radius: 5px;
}

.news {
  padding: 100px 60px 0 60px;
  background-image: url("../img/third.jpg");
  background-size: 100% 100%;
  width: 100%;
  background-color: rgb(195, 199, 209);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news--title {
  display: block;
  margin-bottom: 85px;
  color: black;
  display: flex;
  justify-content: center;
  font: 500 30px/1.2 'Hyundai', sans-serif;
}

.news--container {
  width: 100%;
  background-color: white;
  position: relative;
}

.news--container__slider {
  width: 100%;
  margin: 30px auto;
  overflow: hidden;
}

.news--container__slider-line {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  transition: all ease 0.5s;
}

.slider-line-elem {
  padding: 100px 20px 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text{
  font: 500 26px/1.2 'Hyundai', sans-serif;
}

.text-link {
  color: black;
}

.text-link:hover {
  text-decoration: none;
  color: rgb(41, 47, 70);
}

.slider-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.slider-prev svg:hover {
  fill: rgb(98, 101, 110);
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.slider-next {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.slider-next svg:hover {
  fill: rgb(98, 101, 110);
}


.banner {
  padding: 0 60px 100px 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__container {
  width: 100%;
  max-width: 1800px;
  background-color: white;
  position: relative;
}


.banner__container__slider {
  width: 100%;
  overflow: hidden;
}

.banner__container__slider-line {
  width: 100%;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 0.5s;
}

.main__img1 {
  display: block;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
}

.banner__link1 {
  padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 210px;
  height: 48px;
  font: 400 18px/1.2 'Hyundai', sans-serif;
  color: white;
  background-color: rgb(42, 55, 177);
  border-radius: 5px;
  z-index: 1;
}

.main__text {
  top: 0;
  left: 0;
}

.banner__link2 {
  padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 3%;
  left: 150%;
  transform: translate(-50%, -50%);
  width: 210px;
  height: 48px;
  font: 400 18px/1.2 'Hyundai', sans-serif;
  color: white;
  background-color: rgb(42, 55, 177);
  border-radius: 5px;
  z-index: 1;
}

.banner__link3 {
  padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 3%;
  left: 250%;
  transform: translate(-50%, -50%);
  width: 210px;
  height: 48px;
  font: 400 18px/1.2 'Hyundai', sans-serif;
  color: white;
  background-color: rgb(42, 55, 177);
  border-radius: 5px;
  z-index: 1;
}

.prev {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  fill: white;

}

.prev svg:hover {
  fill: rgb(98, 101, 110);
}

.next {
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateX(-50%);
  transform: translateY(-50%);
  fill: white;
}

.next svg:hover {
  fill: rgb(98, 101, 110);
}

.footer {
  padding: 58px 0 58px 0;
  width: 100%;
  background-color: rgb(24, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer--content {
  padding: 0 20px 0 120px;
  position: relative;

  width: 100%;
  max-width: 1160px;
}

.footer--content--flex {
  width: 100%;
  display: flex;
}

.footer--content__logo {
  position: absolute;
  top: 0;
  left: 20px;
}

.footer--content--ulflex {
  margin: 0 10px 15px 0;
  padding-right: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.footer--content--ulflex__link {
  font: 400 14px/1.2 'Hyundai', sans-serif;
  color: rgb(178, 188, 196);
}

.footer--sotials {
  margin-bottom: 15px;
  width: 301px;
  display: flex;
  justify-content: flex-end;
}

.footer--sotials__img {
  margin: 0 0 0 10px;
  width: 25px;
  height: 25px;
  font: 400 12px/1.2 'Hyundai', sans-serif;
}

.footer__info {
  max-width: 1020px;
  display: flex;
}

.footer--infoflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.footer--infoflexcol {
  display: flex;
  flex-direction: column;
}

.footer--infoflexcol span {
  font: 400 12px/1.2 'Hyundai', sans-serif;
}

.footer--infoflexcol__link {
  display: flex;
  font: 400 12px/1.2 'Hyundai', sans-serif;
  color: rgb(94, 91, 87);
}

.menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50%;
  flex-direction: column;
  color: rgb(19, 17, 17);
}

.div--wrapper {
  display: none;
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(224, 207, 207);
  transition: 0.5s;
  transform: translateX(100%);
}

.menu_active {
  transform: translateX(0);
}

.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid red;
  border-radius: 5px;
}

.menu-btn {
  width: 0;
  height: 0;
  background-color: rgb(93, 107, 126);
  border: 2px solid black;
  position: absolute;
  top: 4px;
  left: -30px;
}

.menu-btn_active {
  width: 30px;
  height: 30px;
  background-color: rgb(93, 107, 126);
  position: absolute;
  border: 2px solid rgb(3, 3, 3);

}

.page--cont {
  transition: 0.5s;
}

.page--cont_active {
  transform: translateX(-100%);
}

.page--content {
  transition: 0.5s;
}

.page--content_active {
  transform: translateX(-100%);
}

.footer {
  transition: 0.5s;
}

.footer_active {
  transform: translateX(-100%);
}

@media(max-width:1300px) {
  .main--banner__container {
    padding: 0 20px 0 20px;
  }

  .page--content__wrap {
    padding: 0 20px 0 20px;
  }

  .news {
    padding: 100px 20px 0 20px;
  }

  .banner {
    padding: 0 20px 100px 20px;
  }

  .main__slider-prev {
    fill: white;
  }

  .main__slider-next {
    fill: white;
  }
}


@media(max-width: 1180px) {
  .nav--top {
    padding-left: 70px;
  }

  .nav--bottom {
    padding-left: 78px;
  }

  .nav--bottom__svg {
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0;
    height: 0;
  }

  .nav--bottom__svg1 {
    position: absolute;
    width: 70px;
    height: 37px;
    top: 0;
    left: 20px;
  }
}

@media(max-width:1140px) {
  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
}

@media(max-width:1060px) {
  .nav--top__link {
    width: 245px;
    height: 52px;
    background-color: blue;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width:1040px) {
  .footer--content--flex {
    display: block;
  }

  .footer--sotials {
    justify-content: flex-start;
  }
}


@media(max-width:1000px) {
  .nav--top__link {
    width: 155px;
    height: 37px;
    background-color: blue;
    font: 400 10px/1.2 'Hyundai', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div--none {
    display: block;
  }

  .div--wrapper {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 111;
    display: flex;
    justify-content: center;
  }

  .page--cont {
    display: none;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
  }
}

@media(max-width:900px) {
  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

}

@media(max-width: 750px) {
  .footer--content {
    padding: 0 20px 0 20px;
    position: relative;
    width: 100%;
    max-width: 1160px;
  }

  .footer--content--ulflex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .footer--sotials {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .footer--content__logo {
    position: absolute;
    top: 68%;
    left: 44%;
  }

  .footer--infoflex {
    padding-top: 60px;
  }
}



@media(max-width: 740px) {
  .main__img {
    width: 100%;
    max-width: 1800px;
    display: none;
  }

  .main--banner__container {
    padding: 20px 20px 20px 20px;
  }

  .main--banner__container__slider {
    width: 100%;
    height: 800px;
    background-image: url("../img/santa fe vertcal logo.jpg");
    background-size: 700px 780px;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .main__link {
    padding: 5px 10px 5px 10px;
    position: absolute;
    top: 670px;
    left: 50%;
    width: 190px;
    height: 48px;
    font-size: 12px;
    color: white;
    background-color: rgb(42, 55, 177);
    border-radius: 5px;
  }

  .main__link1 {
    padding: 5px 10px 5px 10px;
    position: absolute;
    top: 670px;
    left: 150%;
    width: 190px;
    height: 48px;
    font-size: 12px;
    color: white;
    background-color: rgb(42, 55, 177);
    border-radius: 5px;
  }
}

@media(max-width: 700px){
  .main--banner__container__slider {
    height: 760px;
    background-size: 660px 740px;
  }
}

@media(max-width: 680px){
  .main--banner__container__slider {
    height: 740px;
    background-size: 640px 720px;
  }
}

@media(max-width: 660px){
  .main--banner__container__slider {
    height: 720px;
    background-size: 620px 700px;
  }

  .main__link {
    top: 640px;
  }

  .main__link1 {
    top: 640px;
  }
}

@media(max-width: 640px){
  .main--banner__container__slider {
    height: 700px;
    background-size: 600px 680px;
  }
}

@media(max-width: 620px){
  .main--banner__container__slider {
    height: 680px;
    background-size: 580px 660px;
  }

  .main__link {
    top: 600px;
  }

  .main__link1 {
    top: 600px;
  }
}

@media(max-width:600px) {
  .footer--content__logo {
    top: 53%;
  }

  .footer--infoflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
  }

  .footer--infoflexcol__link {
    padding-top: 15px;
  }

  .wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .main--banner__container__slider {
    height: 660px;
    background-size: 560px 640px;
  }

  .main__link {
    top: 600px;
  }

  .main__link1 {
    top: 600px;
  }
}

@media(max-width: 580px){
  .main--banner__container__slider {
    height: 640px;
    background-size: 540px 620px;
  }
}

@media(max-width: 560px){
  .main--banner__container__slider {
    height: 620px;
    background-size: 520px 600px;
  }

  .main__link {
    top: 560px;
  }

  .main__link1 {
    top: 560px;
  }
}

@media(max-width: 540px){
  .main--banner__container__slider {
    height: 540px;
    background-size: 440px 520px;
  }

  .main__link {
    top: 480px;
  }

  .main__link1 {
    top: 480px;
  }
}

@media(max-width: 480px){
  .main--banner__container__slider {
    height: 460px;
    background-size: 400px 440px;
  }

  .main__link {
    top: 400px;
  }

  .main__link1 {
    top: 400px;
  }

  .banner__link1 {
    width: 150px;
    height: 38px;
  }

  .banner__link2 {
    width: 150px;
    height: 38px;
  }

  .banner__link3 {
    width: 150px;
    height: 38px;
  }
}

@media(max-width: 440px){
  .main--banner__container__slider {
    height: 420px;
    background-size: 380px 400px;
  }

  .main__link {
    top: 360px;
  }

  .main__link1 {
    top: 360px;
  }
}

@media(max-width: 400px){
  .main--banner__container__slider {
    height: 380px;
    background-size: 360px 380px;
  }

  .main__link {
    top: 350px;
  }

  .main__link1 {
    top: 350px;
  }

   .banner__link1 {
    width: 140px;
    height: 34px;
  }

  .banner__link2 {
    width: 140px;
    height: 34px;
  }

  .banner__link3 {
    width: 140px;
    height: 34px;
  }
}






@media(max-width:375px){
  .main--banner__container {
    padding: 0 10px 0 10px;
  }

  .page--content__wrap {
    padding: 0 10px 0 10px;
  }

  .news {
    padding: 100px 10px 0 10px;
  }

  .banner {
    padding: 0 10px 100px 10px;
  }
  .page--content__cars--title {
    font: 28px / 1.4 "Arial", sans-serif;
  }
  .main--banner__container__slider {
    height: 370px;
    background-size: 340px 360px;
  }

  .main__link {
   top: 330px;
  }

  .main__link1 {
   top: 330px;
  }

}

@media(max-width: 350px){
  .main--banner__container__slider {
    height: 370px;
    background-size: 330px 350px;
  }

  .main__link {
    width: 160px;
    height: 40px;
    top: 320px;
  }

  .main__link1 {
    width: 160px;
    height: 40px;
    top: 320px;
  }
}

@media(max-width: 335px){
  .main--banner__container__slider {
    height: 365px;
    background-size: 315px 340px;
  }

  .main__link {
    width: 160px;
    height: 40px;
    top: 310px;
  }

  .main__link1 {
    width: 160px;
    height: 40px;
    top: 310px;
  }

  .banner__link1 {
    width: 125px;
    height: 30px;
  }

  .banner__link2 {
    width: 125px;
    height: 30px;
  }

  .banner__link3 {
    width: 125px;
    height: 30px;
  }
}

@media(max-width: 320px){
  .main--banner__container__slider {
    height: 365px;
    background-size: 295px 330px;
  }

  .main__link {
    width: 160px;
    height: 40px;
    top: 300px;
  }

  .main__link1 {
    width: 160px;
    height: 40px;
    top: 300px;
  }
}
